@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Lato:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@font-face {
  font-family: 'FonteLogo';
  src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
	position: relative;
}

h1 {
  color: white;
  font-family: 'Pacifico';
  margin: 12px 0;
}

/*Nav*/

ul.navbar-nav {
  margin: 10px inherit;
}

nav.header {
  background-color: #FF8000;
  margin: 0;
}

.navbar-brand {
	padding:0;
	margin:0;
}

.navbar-brand > img {
		display: block;
	  height:100%;
}

.section-padding {
  padding: 50px 0;
}

.navbar-toggle {
  margin-top: 12px;
}

#navigation {
	float:right;
  margin: 17px 15px 7px;
  font-family: 'Lato', sans-serif;
  font-size: 13pt;
  color: white;
}

/* Cover */

div#cover {
  margin: 0;
  width: 100%;
  background-image:url("../media/cover_slider.jpg") ;
  background-size: cover;
  height: 100vh;
  min-height: 600px;
  padding: 0;
  position: relative;
}

div#cadastro {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
}

div#mid-text {
  position: absolute;
  top: 27%;
  width: 100%;
}

div#cadastro h2 {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 50px;
  width: 100%;
  margin: 20px auto 50px;
  text-align: center;
  font-weight: 900;
  text-shadow: 2px 2px 1px black;
  letter-spacing: 2px;
}

div#mid-buttons {
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  width: 80%;
  min-width: 350px;
  text-align: center;
}

button.main-button {
  background-color: rgba(255, 128, 0, .7);
  display: inline-block;
  margin: 10px 15px;
  border-radius: 50px;
}

button.section-button {
  margin: 10px auto;
  background-color: rgba(255, 128, 0, 1);
}


@media screen and (max-width: 544px) {
  button.main-button {
    display: block;
    width: 80%;
    margin: 10px auto;
    border-radius: 50px;
  }
}

button.main-button:hover {
  background-color: rgba(255, 128, 0, 1);
  transition: 0.5s;
}

button.second-button {
  background-color: rgba(255, 128, 0, 0);
  border: 1px solid rgba(0, 127, 234, .7);
}

button.second-button:hover {
  background-color: rgba(0, 127, 234, 1);
  transition: 0.5s;
}

button.main-button a {
  color: white;
  font-size: 25px;
  font-family: 'Lato', sans-serif;

}

button.main-button a:hover {
  text-decoration: none;
}

/* Sections */

div.section {
  margin: 30px 0;
  width: 100%;
  padding: 50px 6vw;
}

div.half-section {
  padding: 0;
}

div.section h2 {
 font-family: 'Lato', sans-serif;
 font-size: 40px;
 margin: 0 0 30px;
}
div.section p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: 0 0px 35px;
  line-height: 160%
}

div.even-section {
  background-color: #eee;
}

/* Como funciona */

div.feature-box {
  margin: 10px 10px;
  padding: 20px 25px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 400px;
  max-width: 335px;
}

/* Grid de Fotos redondas */
.gridFotos {
clear: both;
margin-bottom: 20px;
}

.gridFotos ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;

}

.gridFotos li {
  display: inline-block;
  margin: 5px 5px 10px 5px;
}


/*Footer*/

footer {
  background: #F8F8F8;
  background-size:cover;
}

.lockup {
  padding: 30px;
}

footer .logo {
  float: left;
  margin-right: 30px;
}
