@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@font-face {
  font-family: 'FonteLogo';
  src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
	position: relative;
}

h1 {
  color: #FF8000;
  font-family: 'Pacifico';
}

h2 {
  font-size: 26px;
}
.navbar-brand {
		padding:0;
	margin:0;
}

.navbar-brand > img {
		display: block;
	height:100%;
}

.section-padding {
  padding: 50px 0;
}

#navigation {
	position:relative;
	float:right;
  margin-top: 20px;
  font-size: 12pt;
  color: #FF8000;
}


#topContainer {
 position: relative;
 background-image:url("../media/cover_slider.jpg");
 background-size:cover;
 background-repeat:no-repeat;
 opacity: 0.9;
 filter: alpha(opacity=90);
 width:100%;
 height: 700px;
 background-position: center;
}

#topRow {

  text-align:center;
}

#firstRow {
  margin-top: 200px;
}

div#cadastro {
	background-color: rgba(255,255,255,.7);
	height:50%;
	width:90%;
  max-width: 600px;
	border-radius:10px;
	margin:auto;
  padding: 10px 30px;

}

#orcamento {
	text-align:center;
	padding:3px 5px 3px 5px;
	width:100%;
	height:70%;
	margin-bottom:40px;
	font-size:140%;
}

.botaoAcao {
	font-size:20px;
	padding:3px 10px 3px 10px;
  margin: auto;
	background-color:#FF8000;
}

.botaoAcao a:hover {
  color: #FFFFFF;
 	text-decoration: none;
}

#comoFunciona {
	background-color:#F3F3F3;
	margin:0 auto;
	width:100%;
}

.marginTop {
	margin-top:10px;
}

.form-control {
	width:80%;
	margin-left: auto;
 	margin-right: auto;
}


.title {
	margin-top:50px;
	margin-bottom:50px;
	font-size:300%;
}

.btn-icon {
	text-align:center;
	color: #333;
		background-color: #FFFFFF;
	border-color: ##2ECCFA;
	height:27%;
	width:23%;
	padding:20px 0 0 0;
}

.btn-icon img {
	width:90%;
	height:80%;
}

.col-md-4 {
	margin-bottom:50px;
}


.white {
	color:#FFF;
}

.glyphicon img {
	position:relative;
	margin-left:-40px;
	margin-top:-15px;
	width:20%;
	height:20%;
}

#fb {
	color: #FFFFFF;
 	text-decoration: none;
}

#fb:hover {
	color: #FFFFFF;
 	text-decoration: underline;
}

.btn-parceria {
	text-align:center;
	color: #333;
	padding:20px 0 0 0;
	background-color:#004274;
}

#btn-logIn {
	margin-bottom:-12px;
}

#contato {
	padding:100px 0 0 0;
}

#marginBottom {
	margin-bottom:50px;
}


.gridFotos {
clear: both;
}

.gridFotos ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;

}

.gridFotos li {
  display: inline-block;
  margin: 5px 5px 10px 5px;
}

footer {
  background: #F8F8F8;
  background-size:cover;
}

.lockup {
  padding: 30px;
}

footer .logo {
  float: left;
  margin-right: 30px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.content-wrap {
  float: left;
}

.copyright {
  font-size: 12pt;
}
